* {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
}

:root {
    --main-color: #0a4b09;
    --accent-color: rgb(189, 247, 173);
}

.container {
    width: 95%;
    /*color: #fff;*/
    margin: 0.1vw 0.1vw;
}

.navbar {
    background-color: var(--main-color);
    width: 100%;
    overflow: hidden;
    line-height: 26vw;
    position: fixed;
    z-index: 3;
}

#logo {
    height: 5vw;
    width: 5vw;
    margin: 0.5% 3%;
    float: left;
}

.titre {
    margin: -9.83vw 1.20vw -10.03vw 0.94vw;
    font-size: 2.01vw;
    color: #f7f9fb;
    text-decoration: none;
    float: left;
    transition: 1s;
}

.titre:hover {
    color: var(--accent-color);
}

.menu {
    float: right;
}

.menu li {
    float: left;
    width: 9.5vw;
    height: 1vw;
    line-height: 6.2vw;
    text-align: center;
    list-style-type: none;
}

.menu li a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f7f9fb;
    font-size: 1.12vw;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.menu li a:hover {
    text-decoration: none;
    color: var(--accent-color);
}
.i-1 {
    position: relative;
    
}
.slider {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.slide {
    position: relative;
    width: 100%;
    height: 51.17056856187291vw;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(9, 79, 51, 0.73));
    z-index: 2;
}
.titre-i-1 {
    text-align: center;
    font-size: 4.01vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f9fb;
    margin-bottom: 7%;
    z-index: 2;
}



.pourquoi-nous-choisir {
    background-color: #f7f9fb;
    padding: 50px 0;
    text-align: center;
    
}
.container-pourquoi{
    width: 50.755852842809364vw;
    margin: 4vh auto;
    color: #3b3a3a;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.250), 0 10px 10px rgba(0, 0, 0, 0.22); 
    min-height: 250px;
}
.pourquoi2{
    display: flex;
}
.container-pourquoi img{
    width: 22vw;
    padding:0 2vw
}
.container-pourquoi h2{
    text-transform: uppercase;
}
.container-pourquoi p{
    padding:0 2vw
}

.temoignages {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}
.container-temoignages{
    display: flex;
}
.temoignage {
    margin-top: 20px;
    text-transform: uppercase;
    width: 42.755852842809364vw;
    margin: auto auto;
    color: #3b3a3a;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.250), 0 10px 10px rgba(0, 0, 0, 0.22); 
}
.temoignage a img{
    width:20px;
    cursor:pointer;
}
.temoignage a{
    cursor: pointer;
    color: #333;
}
.temoignage a:hover{
    color: #0a58ca;
}
.btn, .btn-d, .btn-g{
    display: flex;
    justify-content: space-between;
}
.btn {
    display: flex;
    width: 100%; 
}

.temoignage p {
    font-style: italic;
}

.temoignage .auteur {
    font-weight: bold;
    margin-top: 10px;
}
.checked {
    color: orange;
  }
.nos-valeurs {
    background-color: #f7f9fb;
    padding: 50px 0;
    text-align: center; 
    display: flex;
}
.NV{
    display: flex;
}
.NV-1 { 
    margin-top: 20px;
    width: 22.755852842809364vw;
    margin: auto auto;
    color: #3b3a3a;
    padding: 1.6377926421404682vw;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.250), 0 10px 10px rgba(0, 0, 0, 0.22); 
}
.nos-valeurs p{
    font-size: 2vw;
}
.t-title{
    font-size: 2vw;
}
.nos-valeurs ul {
    list-style-type: none;
    padding: 0;
}

.nos-valeurs li {
    margin-top: 15px;
}
#container-connexion{
    width:400px;
    margin:0 auto;
    padding-top:15%;
   }

#container-connexion form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }
#container-connexion h1{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
   }
#container-connexion label{
    padding-bottom: 10px;
   }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }


input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

.content {
    padding: 120px;
}

h1 {
    font-size: 34px; 
    color: #333;
    margin-bottom: 20px; 
}
p {
    font-size: 16px; 
    line-height: 1.6; 
    margin-bottom: 20px;
}
h2 {
    font-size: 30px; 
    color: #333;
    margin-bottom: 20px;

}
h3 {
    font-size: 28px; 
    color: #333;
    margin-bottom: 20px; 
}
.btn-create, .btn-connexion{
    margin-right: 2%;
    background-color: #0d6efd;
    text-align: center;
    border: solid 0.13377926421404682vw #0d6efd;
    border-radius: 0.802675585284281vw;
    color: #fff;
    text-decoration: none;
    padding: 1.1%;
}
.btn-create:hover, .btn-connexion:hover{
    background-color: #0a58ca;
    border-color: #0a58ca;
    transition: 1s;
}
.btn-create{
    margin-left: 40%;
}
.apr-1{
    
    margin: 2vw 10vw;
    display: flex;
}
.apr-2-1-1, .apr-2-1-2{
    display: flex;
    align-items: center;
    margin: 4vw 6vw;
}
.apr-2-1-1 img{
    margin-right: 4vw;
    width: 28.5vw;
   
}
.apr-2-1-2 figure{
    margin-left: 8.5vw;
    
}
.apr-2-1-2 figure img{
    width: 28.5vw;
}
.apr-2-1-2-1{
    border: solid 2px black;
    padding: 10px;
    width: 280px;
}
.apr-2-1-2-1 h4{
    color: #168b14;
}
.apr-1 p{
    margin-left: 5vw;
}
.apr-1 img{
    width: 13.5vw;
    height: 13.5vw;
}
.apr-2 h3{
    margin-left: 3vw;
}

footer{
    height: 18vw;
    background-color:#333;
}
.cpy{
    text-align: center;
    color: #ccc;

}

.navbar_espaceClient {
    height: 100%;
    width: 220px;
    position: fixed;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}

.container_espaceClient {
    display: flex;
    flex-direction: column;
}

.menu_espaceClient {
    list-style-type: none;
    padding: 0;
}

.menu_espaceClient li {
    padding: 8px;
    text-align: center;
}

.menu_espaceClient a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.espaceClient-1 h1{  
    text-align: center;
    padding-top: 3vh;
}
.espaceClient-1{
    margin-left: 220px;
}

.container_espaceClient2{
    max-width: 800px;
    margin: 55px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-by-side {
    display: flex;
    justify-content: space-between;
}

.events,
.customer-support {
    width: 48%; 
}

.side-by-side h2 {
    color: #333;
}

.side-by-side p {
    color: #666;
    line-height: 1.5;
}

.side-by-side a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.side-by-side a:hover {
    text-decoration: underline;
}
.tarif-1 h1{
    text-align: center; 
     padding-top: 8vw;
 }
 .tarif-1-1{

     text-align:center;
     margin: 2vw 10vw;
 }
/* css pension */
section.pension {
    border: 1px solid #ccc;
    padding: 4vw 25vw;

    text-align: center;
    background-color: #f9f9f9;

}

.pension h1 {
    color: #333;
}

.pension img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.pension a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.pension a:hover{
    background-color: #297fb8;
}
.content p{
    text-align: center;
    text-align: justify;
    margin:0 auto;
}