* {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
}

:root {
    --main-color: #0a4b09;
    --accent-color: rgb(189, 247, 173);
}

.container {
    width: 95%;
    color: #fff;
    margin: 0.1vw 0.1vw;
}

.navbar {
    background-color: var(--main-color);
    width: 100%;
    overflow: hidden;
    line-height: 26vw;
    position: fixed;
    z-index: 2;
}

#logo {
    height: 5vw;
    width: 5vw;
    margin: 0.5% 3%;
    float: left;
}

.titre {
    margin: -9.83vw 1.20vw -10.03vw 0.94vw;
    font-size: 2.01vw;
    color: #f7f9fb;
    text-decoration: none;
    float: left;
    transition: 1s;
}

.titre:hover {
    color: var(--accent-color);
}

.menu {
    float: right;
}

.menu li {
    float: left;
    width: 9.5vw;
    height: 1vw;
    line-height: 6.2vw;
    text-align: center;
    list-style-type: none;
}

.menu li a {
    color: #f7f9fb;
    font-size: 1vw;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.menu li a:hover {
    text-decoration: none;
    color: var(--accent-color);
}
.i-1 {
    position: relative;
    
}

.slider {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.slider img {
    width: 100%;
    height: 715px;
    object-fit: cover;
    object-position: center top;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(9, 79, 51, 0.73));;
}

.titre-i-1 {
    text-align: center;
    font-size: 4.01vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f9fb;
    margin-bottom: 7%;
    z-index: 1;
}

#container-connexion{
    width:400px;
    margin:0 auto;
    padding-top:15%;
   }

   form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }
   #container-connexion h1{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
   }
   #container-connexion label{
    padding-bottom: 10px;
   }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   

input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

.content {
    padding: 120px;
}

h1 {
    font-size: 34px; 
    color: #333;
    margin-bottom: 20px; 
}
p {
    font-size: 16px; 
    line-height: 1.6; 
    margin-bottom: 20px;
}
h2 {
    font-size: 30px; 
    color: #333;
    margin-bottom: 20px;

}
h3 {
    font-size: 28px; 
    color: #333;
    margin-bottom: 20px; 
}
.btn-create, .btn-connexion{
    margin-right: 2%;
    background-color: #0d6efd;
    text-align: center;
    border: solid 0.13377926421404682vw #0d6efd;
    border-radius: 0.802675585284281vw;
    color: #fff;
    text-decoration: none;
    padding: 1.1%;
}
.btn-create:hover, .btn-connexion:hover{
    background-color: #0a58ca;
    border-color: #0a58ca;
    transition: 1s;
}
.btn-create{
    margin-left: 40%;
}
.apr-1{
    
    margin: 2vw 10vw;
    display: flex;
}
.apr-2-1-1, .apr-2-1-2{
    display: flex;
    align-items: center;
    margin: 4vw 6vw;
}
.apr-2-1-1 img{
    margin-right: 4vw;
    width: 28.5vw;
   
}
.apr-2-1-2 figure{
    margin-left: 8.5vw;
    
}
.apr-2-1-2 figure img{
    width: 28.5vw;
}
.apr-2-1-2-1{
    border: solid 2px black;
    padding: 10px;
    width: 280px;
}
.apr-2-1-2-1 h4{
    color: #168b14;
}
.apr-1 p{
    margin-left: 5vw;
}
.apr-1 img{
    width: 13.5vw;
    height: 13.5vw;
}
.apr-2 h3{
    margin-left: 3vw;
}

