*{
    margin: 0;
    padding: 0;
    font-family: Calibri; 
}
.container{
    width:95%;
    color:rgb(255, 255, 255);
    margin: 0.1vw 0.1vw;
}
.navbar{
    background-color: #0a4b09;
    width:100%;
    overflow: hidden;
    line-height: 26vw;
   
    position:fixed;
    z-index: 2;
}
#logo{
    height: 5vw;
    width: 5vw;
    margin : 0.5% 3%;
    float:left;
    
}
.titre{
    margin: -147px 18px -150px 14px;
    font-size: 30px;
    color: #f7f9fb;
    text-decoration: none;
    float : left;
    transition: 1s;
}
.titre:hover{
    transition: 1s;
    color: rgb(189, 247, 173);
}
.menu{
    float:right;
}
.menu li{
    float:left;
    width:9.5vw;
    height:1vw;
    line-height: 6.2vw;
    text-align: center;
    list-style-type: none;       
}
.menu li a{
    color: #f7f9fb;
    font-size: 1vw;
    text-decoration: none; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.menu li a:hover{        
    text-decoration: none;  
    color: rgb(189, 247, 173);
}
.Accueil{
    padding: 40% 20%;
}
.Apropos{
    padding: 40% 16%;
}
.i-1{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(9, 79, 51, 0.73)), url('res/img1.png');
    
    width:100%;
    height: 715px;
    background-size: cover;
}
.titre-i-1{
    text-align: center;
    font-size: 60px;
    padding-top:17% ;
    color:#f7f9fb;
    margin-bottom: 7%;
}
#container-connexion{
    width:400px;
    margin:0 auto;
    padding-top:15%;
   }

   form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }
   #container-connexion h1{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
   }
   #container-connexion label{
    padding-bottom: 10px;
   }

   input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   

   input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
   }

   .content {

    padding: 120px;

}

h1 {

    font-size: 28px; 

    color: #333;

    margin-bottom: 20px; 

}
p {

    font-size: 16px; 

    line-height: 1.6; 

    margin-bottom: 20px;

}
h2 {
    font-size: 28px; 

    color: #333;

    margin-bottom: 20px;

}
h3 {

    font-size: 20px; 

    color: #333;

    margin-bottom: 20px; 

}
.btn-create, .btn-connexion{
    margin-right: 2%;
    background-color: #0d6efd;
    text-align: center;
    border: solid 2px #0d6efd;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
    padding: 1.1%;
}
.btn-create:hover, .btn-connexion:hover{
    background-color: #0a58ca;
    border-color: #0a58ca;
    transition: 1s;
}
.btn-create{
    margin-left: 40%;
}
.apr-1{
    margin: 2vw 10vw;
    display: flex;

}
.apr-1 p{
    margin-left: 5vw;
}
.apr-1 img{
    width: 13.5vw;
    height: 13.5vw;
}
.apr-2 h3{
    margin-left: 3vw;
}

