<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Mise Au Vert</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/x-icon" href="../res/logo.png">

    </head>
    <body>
        <header id="header">
            <div class="navbar">
                <div class="container">
                    <div>
                        <a href="../index"><img src="../res/logo.png" alt="logo" id="logo"></a>
                    </div>
                    <div>
                        <a class="titre" href="../index.html">La Mise Au Vert</a>
                    </div>
                    <div class="navbar_links">
                        <ul class="menu">
                            <li><a class="Accueil" href="../index.html">Accueil</a></li>
                            <li><a class="Apropos" href="apropos.html">à propos</a></li>
                            <li><a class="Service" href="EspacePension.html">Pensions</a></li>
                            <li><a class="EspaceClient" href="espaceClient.php">Espace Client</a></li>
                            <li><a class="Contact" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>